@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400&display=swap");
@import url("https://fonts.cdnfonts.com/css/cgf-locust-resistance");
.Home {
  width: 100%;
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  scroll-behavior: smooth;
  background: url("../images/homepage_illustrations/Background_purple.png");
  background-position: right;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
.Home.black {
  background: url("../images/homepage_illustrations/LIGHT_bACK.png");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
.Home::-webkit-scrollbar {
  display: none;
}
/* Home_sideNavBar */
.Home_sideNavBar {
  position: fixed;
  left: 50px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 400px;
  z-index: 2;
}
.Home_sideNavBar::before {
  content: "";
  width: 3.2px;
  height: 100%;
  position: absolute;
  background-color: #fff;
  border-radius: 4px;
  z-index: 0;
}
.Home_sideNavBar.black::before {
  background-color: #fff;
}
.Home_sideNavBar .Home_sideNavBar_marker {
  position: absolute;
  width: 30px;
  height: 30px;
  /* top: 25px; */
  border-radius: 20px;
  background: linear-gradient(180deg, #cc00ff 0%, #0075ff 100%);
  transition: 0.5s;
  z-index: 2;
}
.Home_sideNavBar a {
  position: relative;
  width: 30px;
  height: 30px;
  letter-spacing: 1px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background: #0e101b;
}
.Home_sideNavBar.black a {
  background: #fff;
}
.Home_sideNavBar a span {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  z-index: 3;
}
.Home_sideNavBar a::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 20px;
  background: #0e101b;
  z-index: 0;
}
.black a::before {
  background-color: white;
}
.Home section {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  scroll-snap-align: start;
  padding-left: 150px;
}
.rainbow {
  animation: colorRotate 2s linear 0s infinite;
}

@keyframes colorRotate {
  from {
    color: #6666ff;
  }
  10% {
    color: #0099ff;
  }
  50% {
    color: #00ff00;
  }
  75% {
    color: #ff3399;
  }
  100% {
    color: #6666ff;
  }
}
@media screen and (max-width: 900px) {
  .Home section {
    padding-left: 100px;
  }
}
@media screen and (max-width: 600px) {
  .Home {
    background-position: 84% 50%;
  }
  .Home.black {
    background-position: 84% 50%;
  }
  .Home section {
    padding-left: 30px;
  }
  .Home_sideNavBar {
    left: 50%;
    top: auto;
    bottom: 0;
    transform: translateX(-50%);
    flex-direction: row;
    width: 100%;
    height: 50px;
  }
  .Home_sideNavBar::before,
  .Home_sideNavBar.black::before {
    width: 100%;
    height: 4px;
    bottom: 0px;
    background: #0075ff;
  }
  .Home_sideNavBar .Home_sideNavBar_marker {
    left: 33px;
    bottom: 0px !important;
    border-radius: 0;
    width: 40px;
    height: 45px;
    background: linear-gradient(180deg, #cc00ff 0%, #0075ff 100%);
    border-radius: 20px 20px 0 0;
  }
  .Home_sideNavBar a {
    background: transparent;
  }
  .Home_sideNavBar.white a::before {
    background: #fff0;
  }
  .Home_sideNavBar.black a::before {
    background: #fff;
    z-index: 3;
  }
}
.Home_HeroPage {
  padding-left: 100px !important;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Home_HeroPage .imgBox {
  width: 600px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Home_HeroPage .imgBox img {
  width: 100%;
  object-fit: contain;
}
.Home_HeroPage .countdown {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0 20px 0;
}
.Home_HeroPage .countdown span {
  width: 2px;
  height: calc(100% - 40px);
  border-radius: 2px;
  background-color: rgb(255, 255, 255);
  margin: 0 25px;
}
.Home_HeroPage .countdown .card {
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100px;
}
.Home_HeroPage .countdown .card .card-top {
  font-size: 96px;
  font-weight: 500;
  line-height: 1em;
}
.Home_HeroPage .countdown .card .card-bottom p {
  margin-top: 5px;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 2px;
  line-height: 1em;
}
@media screen and (max-width: 600px) {
  .Home_HeroPage {
    padding: 0 !important;
  }
  .Home_HeroPage .imgBox {
    width: calc(100% - 40px);
  }
  .Home_HeroPage .countdown {
    width: 290px;
    flex-wrap: wrap;
    margin: 10px 0 25px 0;
  }
  .Home_HeroPage .countdown span {
    height: 72px;
    margin: 0 15px;
  }
  .Home_HeroPage .countdown span:nth-of-type(2) {
    display: none;
  }
  .Home_HeroPage .countdown .card {
    margin: 0 10px;
    width: 100px;
  }
  .Home_HeroPage .countdown .card .card-top {
    font-size: 84px;
    font-weight: 500;
    line-height: 1.2em;
  }
  .Home_HeroPage .countdown .card .card-bottom p {
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 1.2em;
  }
}
/* Home_landingPage */
.Home_landingPage {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: url("../images/homepage_illustrations/back2.png");
  background-position: 100% 50%;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.Home_landingPage.black {
  background: none;
}
.Home_landingPage .ContentBox {
  max-width: 630px;
  position: relative;
  z-index: 2;
}
.Home_landingPage .ContentBox h1 {
  font-family: "Quicksand";
  font-size: 4.5em;
  font-weight: 650;
  letter-spacing: 5px;
  /* font-family: "CGF Locust Resistance", sans-serif; */
  line-height: 1.1em;
}
.Home_landingPage .ContentBox .Theme {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin: 10px 0;
}
.Home_landingPage .ContentBox #dash {
  display: inline-block;
  width: 10px;
  height: 3px;
  background-color: #fff;
  margin: 0 4px;
  border-radius: 2px;
}
.Home_landingPage.black .ContentBox #dash {
  background-color: #000;
}
.Home_landingPage .ContentBox #theme_name {
  text-align: left;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.4em;
  letter-spacing: 3px;
  margin-bottom: 10px;
  /* height: 16px; */
  font-family: "CGF Locust Resistance", sans-serif;
}
.Home_landingPage .ContentBox #themeDate {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 2px;
  line-height: 1.4em;
  font-family: "CGF Locust Resistance", sans-serif;
}
.Home_landingPage .ContentBox p {
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 0.5px;
}
.Home_HeroPage a,
.Home_landingPage .ContentBox a {
  display: inline-block;
  margin: 10px 0;
  padding: 6px 20px 7px 20px;
  letter-spacing: 1px;
  font-weight: 500;
  text-transform: uppercase;
  background: linear-gradient(91.69deg, #3300ff 0%, #db00ff 100%);
  transition: 0.2s;
  width: fit-content;
  color: #fff;
}
.Home_HeroPage a:hover,
.Home_landingPage .ContentBox a:hover {
  letter-spacing: 2px;
}
.Home_HeroPage a {
  font-size: 22px;
  letter-spacing: 1px;
  padding: 5px 40px 7px 40px !important;
}
#salesLink {
  position: relative;
  font-family: quicksand;
  font-size: 15px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 2px;
  width: fit-content;
  color: #fff;
  border: 1px solid #fff;
  border-left: none;
  border-right: none;
  background-color: rgb(0, 82, 235);
  padding: 0 10px;
  text-align: center;
}
#salesLink::before {
  content: "";
  position: absolute;
  left: -26px;
  top: 25%;
  padding: 0;
  margin: 0;
  width: 0;
  height: 0 !important;
  border: 20px solid rgb(0, 82, 235);
  border-left-color: transparent;
}
#salesLink::after {
  content: "";
  position: absolute;
  right: -26px;
  top: 25%;
  padding: 0;
  margin: 0;
  width: 0;
  height: 0 !important;
  border: 20px solid rgb(0, 82, 235);
  border-right-color: transparent;
}
#salesLink a {
  padding: 0;
  font-size: 15px;
  font-weight: 500;
  margin: 0;
  text-transform: none;
  color: #fff;
  letter-spacing: 2px;
  background: transparent;
}
#salesLink a:hover {
  letter-spacing: 2px;
}
@media screen and (max-width: 800px) {
  #salesLink {
    font-size: 13px;
    text-align: center;
    margin: 6px 0 8px 0;
  }
  #salesLink a {
    font-size: 13px;
    text-align: center;
  }
}
.Home_landingPage .imgBox {
  max-width: 650px;
  max-height: 650px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 60px;
  top: 50%;
  transform: translateY(-50%);
}
.Home_landingPage .imgBox .robo2 {
  position: relative;
  width: 25%;
  height: 100%;
  transition: 0.5s;
  z-index: 1;
}
.Home_landingPage .imgBox .robo2 img {
  position: absolute;
  bottom: 0;
  width: 100%;
  object-fit: contain;
}
.Home_landingPage .imgBox .robo1 {
  position: relative;
  width: 75%;
  height: 100%;
  object-fit: contain;
  transition: 0.5s;
  z-index: 1;
}
.Home_landingPage .imgBox .robo1 img {
  width: 100%;
  object-fit: contain;
}
/* .Home_landingPage .imgBox #robo_square {
  position: absolute;
  top: calc(50% + 25px);
  left: 25px;
  height: 500px;
  transform: translateY(-50%);
  object-fit: contain;
  transition: 0.5s;
  z-index: 0;
} */
.Home_landingPage .Follow {
  position: absolute;
  bottom: 50px;
  right: 50px;
  display: flex;
  align-items: center;
}
.Home_landingPage .Follow p {
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
}
.Home_landingPage .Follow a {
  text-decoration: none;
  font-size: 19px;
  letter-spacing: 2px;
  font-weight: 500;
}
.Home_landingPage .Follow a:nth-child(3):hover {
  color: crimson;
}
.Home_landingPage .Follow a:nth-child(5):hover {
  color: rgb(0, 92, 184);
}
.Home_landingPage .Follow a:nth-child(7):hover {
  color: red;
}
.Home_landingPage .Follow span {
  width: 2px;
  height: 25px;
  background-color: rgba(255, 255, 255, 0.548);
  margin: 0 10px;
  border-radius: 5px;
}
.Home_landingPage.black .Follow span {
  background-color: rgba(0, 0, 0, 0.8);
}
.Home_scroll_btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
  width: 30px;
  height: 50px;
  border: 2px solid #fff;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Home_scroll_btn span {
  background-color: #fff;
  width: 4px;
  height: 10px;
  border-radius: 10px;
  background-color: #fff;
  animation: mousey_scroll_animation 1.5s ease-in-out infinite;
}
.Home_landingPage.black .Home_scroll_btn {
  border: 3px solid #000;
}
.Home_landingPage.black .Home_scroll_btn span {
  background-color: #000;
  width: 3px;
  height: 14px;
}
@keyframes mousey_scroll_animation {
  from {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(-5);
  }
}
@media screen and (max-width: 800px) {
  .Home_landingPage {
    padding: 0 60px 60px 100px;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
  }
  .Home_landingPage h1 {
    margin-bottom: 5vw;
    text-align: center;
  }
  .Home_landingPage .ContentBox {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .Home_landingPage .imgBox {
    max-width: 650px;
    max-height: 650px;
    width: calc(100% - 80px);
    position: relative;
    transform: translate(0);
    left: 0;
    top: 0;
    /* top: 0;
    left: 50%;
    transform: translate(-50%, 0); */
  }
}
@media screen and (max-width: 600px) {
  .Home_landingPage {
    background-position: 84% 50%;
  }
  .Home_landingPage .ContentBox {
    width: 100%;
  }
  .Home_landingPage .ContentBox h1 {
    font-size: 12vw;
    line-height: 1em;
    text-align: center;
    margin-bottom: 4px;
  }
  .Home_landingPage .ContentBox p {
    font-size: 18px;
    text-align: center;
  }
  .Home_landingPage .ContentBox .Theme {
    margin: 0;
    margin-top: 2px;
    justify-content: center;
    align-items: center;
  }
  #dash {
    width: 5px;
    height: 1.5px;
    margin: 0 4px;
    border-radius: 1px;
  }
  .Home_landingPage .ContentBox #theme_name {
    font-size: 14px;
    margin-bottom: 4px;
  }
  .Home_landingPage .ContentBox #themeDate {
    font-size: 12px;
  }
  .Home_landingPage .Follow {
    top: auto;
    bottom: 48px;
    right: auto;
    left: auto;
  }
  .Home_scroll_btn {
    position: absolute;
    left: 20px;
    transform: translateX(0%);
    bottom: 70px;
  }
}
/* Home_whoAreWe */
/* .Home_whoAreWe {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 1) 100%
    ),
    url("../images/whoAreWeBg.png");
  background-repeat: repeat;
  background-position: center;
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Home_whoAreWe h1 {
  font-size: 3.5em;
  font-weight: 700;
  letter-spacing: 5px;
}
.Home_whoAreWe p {
  font-size: 16px;
  letter-spacing: 1px;
  max-width: 700px;
  margin: 40px 0;
} */
.Home_whoAreWe {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Home_whoAreWe #heading {
  font-size: 4em;
  font-weight: 650;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  left: -50px;
}
.Home_whoAreWe #text {
  max-width: 600px;
  font-size: 1em;
  letter-spacing: 1px;
  font-weight: 500;
  text-align: center;
  position: relative;
  left: -50px;
}
.Home_whoAreWe #who_are_we_robo2 {
  position: absolute;
  left: 200px;
  bottom: 0;
  width: 200px;
  object-fit: contain;
}
.Home_whoAreWe #who_are_we_robo1 {
  position: absolute;
  right: 0;
  top: 0;
  width: 400px;
  object-fit: contain;
}
/* @media screen and (max-width: 1000px) {
  .Home_whoAreWe {
    padding-top: 30vh;
  }
  .Home_whoAreWe #heading {
    font-size: 6vw;
  }
  .Home_whoAreWe #text {
    font-size: 3vw;
    width: 80%;
  }
}
 */
@media screen and (max-width: 800px) {
  .Home_whoAreWe {
    padding-right: 0px;
    padding-left: 50px;
    align-items: center;
  }
  .Home_whoAreWe * {
    text-align: center;
  }
  .Home_whoAreWe #heading {
    font-size: 8vw;
    line-height: 1em;
    margin-bottom: 20px;
    left: 0;
  }
  .Home_whoAreWe #text {
    left: 0px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .Home_whoAreWe #who_are_we_robo1 {
    width: 200px;
  }
  .Home_whoAreWe #who_are_we_robo2 {
    left: 0px;
  }
}
@media screen and (max-width: 600px) {
  .Home_whoAreWe #heading {
    font-size: 12vw;
  }
  .Home_whoAreWe #who_are_we_robo1 {
    display: none;
  }
  .Home_whoAreWe #who_are_we_robo2 {
    display: none;
  }
  .Home_whoAreWe #text {
    left: 0px;
    font-size: 12px;
    font-weight: 500;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
}
/*
@media screen and (max-width: 600px) {
  .Home_whoAreWe {
    padding-top: 14vh;
  }
  .Home_whoAreWe #heading {
    font-size: 7vw;
  }
  .Home_whoAreWe #text {
    width: 70%;
    font-size: 3vw;
  }
}
@media screen and (max-width: 450px) {
  .Home_whoAreWe {
    padding: 15vh 0;
  }
  .Home_whoAreWe #heading {
    font-size: 9vw;
    margin-left: 4vw;
  }
  .Home_whoAreWe #text {
    margin-left: 4vw;
    text-align: left;
    font-size: 4vw;
    width: 100%;
    padding: 8vw;
  }
} */
/* Home_WorkshopsEvents and Home_Speakers */
.Home_Speakers,
.Home_WorkshopsEvents {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 50px;
  z-index: 0;
}
.Home_Speakers h1,
.Home_WorkshopsEvents h1 {
  text-align: center;
  font-size: 3em;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 20px;
}
.speaker_swiper_container {
  width: calc(100% - 100px);
  height: 420px;
  padding: 40px;
  display: flex;
  align-items: center;
  border-radius: 10px;
}
.Home_WorkshopsEvents .speaker_swiper_container {
  height: 380px;
}
.speaker_swiper_container .swiper-container {
  width: 100%;
  height: fit-content;
  overflow-y: visible;
}
.speaker_swiper_container .swiper-container .swiper-slide {
  position: relative;
  width: 250px;
  height: 340px;
  overflow: hidden;
}
.Home_WorkshopsEvents
  .speaker_swiper_container
  .swiper-container
  .swiper-slide {
  position: relative;
  width: 300px;
  height: 300px;
  overflow: hidden;
}
.speaker_swiper_container .swiper-container .swiper-slide img {
  user-select: none;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.speaker_swiper_container .swiper-container .swiper-slide .contentBox {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 120px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  background: linear-gradient(0deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.4));
  z-index: 3;
}
.Home_WorkshopsEvents.black .swiper-container .swiper-slide .contentBox *,
.Home_Speakers.black .swiper-container .swiper-slide .contentBox * {
  color: #fff;
}
.speaker_swiper_container .swiper-container .swiper-slide .contentBox .left {
  text-align: left;
  margin-right: 10px;
}
.speaker_swiper_container .swiper-container .swiper-slide .contentBox h3 {
  text-align: left;
  font-size: 16px;
  line-height: 1.1em;
  font-weight: 600;
  letter-spacing: 2px;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  margin-bottom: 4px;
}
.speaker_swiper_container .swiper-container .swiper-slide .contentBox p {
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 1.2em;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  margin: 5px 0 5px 0;
}
.Home_Speakers
  .speaker_swiper_container
  .swiper-container
  .swiper-slide
  .contentBox
  a {
  font-size: 30px;
  letter-spacing: 1px;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin: 0;
  padding: 0;
  background: none;
  transition: 0.1s;
}
.Home_Speakers
  .speaker_swiper_container
  .swiper-container
  .swiper-slide
  .contentBox
  a:hover {
  color: red;
}
.Home_WorkshopsEvents
  .speaker_swiper_container
  .swiper-container
  .swiper-slide
  .contentBox
  p {
  text-align: center;
}
.Home_Speakers .speaker_swiper_container .swiper-prev-con,
.Home_WorkshopsEvents .speaker_swiper_container .swiper-prev-con {
  cursor: pointer;
  position: relative;
  left: -20px;
}
.Home_Speakers .speaker_swiper_container .swiper-next-con,
.Home_WorkshopsEvents .speaker_swiper_container .swiper-next-con {
  cursor: pointer;
  transform: rotate(180deg);
  position: relative;
  right: -20px;
}
.Home_Speakers a,
.Home_WorkshopsEvents a {
  padding: 6px 20px 7px 20px;
  letter-spacing: 1px;
  font-weight: 500;
  background: linear-gradient(91.69deg, #3300ff 0%, #db00ff 100%);
  transition: 0.2s;
  width: fit-content;
  color: #fff;
}
.Home_Speakers a:hover,
.Home_WorkshopsEvents a:hover {
  letter-spacing: 2px;
}
.Home_Speakers .Home_speakers_card_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.Home_Speakers .Home_speakers_card_container .Home_speakers_card {
  width: fit-content;
  height: fit-content;
  background: #212121;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
  border-radius: 8px;

  background: transparent;
}
.Home_Speakers .Home_speakers_card_container .Home_speakers_card img {
  width: 280px;
  height: 280px;
  object-fit: cover;
  border-radius: 6px;

  width: 350px;
  height: 350px;
  border: 2px solid #fff;
}
.Home_Speakers .Home_speakers_card_container .Home_speakers_card .contentBox {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Home_Speakers
  .Home_speakers_card_container
  .Home_speakers_card
  .contentBox
  h3 {
  font-family: "Quicksand";
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
}
.Home_Speakers .Home_speakers_card_container .Home_speakers_card .contentBox p {
  font-family: "Quicksand";
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
}
.Home_Speakers
  .Home_speakers_card_container
  .Home_speakers_card
  .contentBox
  p
  span {
  display: inline-block;
  width: 6px;
  height: 6px;
  background-color: #fff;
  border-radius: 50%;
  margin: 0 10px;
}
.Home .Footer.white {
  background-color: rgba(255, 255, 255, 0.2);
  border-top: 1px solid #fff4;
  backdrop-filter: blur(2px);
}
.Home .Footer.white .bottom {
  background-color: rgba(255, 255, 255, 0.1);
  border-top: 1px solid #fff4;
  backdrop-filter: blur(2px);
}
@media screen and (max-width: 600px) {
  .Home .Footer {
    padding: 0 0 0px 0 !important;
    backdrop-filter: none;
  }
  .Home_Speakers h1 {
    margin: 10px 0;
  }
  .Home_Speakers a {
    margin: 10px 0;
  }
  .Home_Speakers .Home_speakers_card_container {
    flex-direction: column;
    margin-bottom: 0px;
  }
  .Home_Speakers .Home_speakers_card_container .Home_speakers_card {
    margin: 0 10px;
    border-radius: 8px;
  }
  .Home_Speakers .Home_speakers_card_container .Home_speakers_card img {
    width: 200px;
    height: 200px;
    border-radius: 6px;
  }
  .Home_Speakers .Home_speakers_card_container .Home_speakers_card .contentBox {
    padding-bottom: 0;
  }
  .Home_Speakers
    .Home_speakers_card_container
    .Home_speakers_card
    .contentBox
    h3 {
    font-size: 18px;
  }
  .Home_Speakers
    .Home_speakers_card_container
    .Home_speakers_card
    .contentBox
    p {
    font-size: 13px;
  }
}
@media screen and (max-width: 500px) {
  .Home_Speakers h1,
  .Home_WorkshopsEvents h1 {
    font-size: 8vw;
    margin-top: 5vw;
  }
  .Home_Speakers .speaker_swiper_container .swiper-container .swiper-slide,
  .Home_WorkshopsEvents
    .speaker_swiper_container
    .swiper-container
    .swiper-slide {
    width: 100%;
    height: 100%;
  }
  .Home_Speakers .speaker_swiper_container {
    height: 100vw;
    width: 100vw;
    padding: 20px;
    border-radius: 0;
  }
  .Home_Speakers .speaker_swiper_container,
  .Home_WorkshopsEvents .speaker_swiper_container {
    height: 100vw;
    width: 100vw;
    padding: 10px;
    border-radius: 0;
    position: relative;
  }
  .Home_Speakers .speaker_swiper_container .swiper-container,
  .Home_WorkshopsEvents .speaker_swiper_container .swiper-container {
    position: relative;
    height: 100% !important;
    width: 100% !important;
  }
  .speaker_swiper_container .swiper-container .swiper-slide .contentBox {
    padding: 10px 15px;
  }
  .Home_WorkshopsEvents
    .speaker_swiper_container
    .swiper-container
    .swiper-slide
    .contentBox
    h3 {
    font-size: 6vw;
    font-weight: 700;
    letter-spacing: 4px;
  }
  .Home_WorkshopsEvents
    .speaker_swiper_container
    .swiper-container
    .swiper-slide
    .contentBox
    p {
    font-size: 4vw;
    font-weight: 400;
  }
  .Home_Speakers .speaker_swiper_container .swiper-prev-con,
  .Home_Speakers .speaker_swiper_container .swiper-next-con,
  .Home_WorkshopsEvents .speaker_swiper_container .swiper-prev-con,
  .Home_WorkshopsEvents .speaker_swiper_container .swiper-next-con {
    cursor: pointer;
    position: absolute;
    left: 15px;
    right: auto;
    width: 25px;
    height: 25px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.877);
    border-radius: 12.5px;
    z-index: 3;
  }
  .Home_Speakers .speaker_swiper_container .swiper-pagination,
  .Home_WorkshopsEvents .speaker_swiper_container .swiper-pagination {
    position: absolute;
    bottom: -20px;
    left: 50%;
    display: flex;
    align-items: center;
    transform: translateX(-50%);
  }
  .Home_Speakers
    .speaker_swiper_container
    .swiper-pagination
    .swiper-pagination-bullet,
  .Home_WorkshopsEvents
    .speaker_swiper_container
    .swiper-pagination
    .swiper-pagination-bullet {
    margin: 0 3px;
    background-color: rgb(90, 90, 90);
    opacity: 0.5;
  }
  .Home_Speakers
    .speaker_swiper_container
    .swiper-pagination
    .swiper-pagination-bullet-active,
  .Home_WorkshopsEvents
    .speaker_swiper_container
    .swiper-pagination
    .swiper-pagination-bullet-active {
    background-color: rgb(2, 111, 219);
    width: 10px;
    height: 10px;
    opacity: 1;
  }
  .Home_Speakers .speaker_swiper_container .swiper-next-con,
  .Home_WorkshopsEvents .speaker_swiper_container .swiper-next-con {
    left: auto;
    right: 15px;
  }
  .Home_Speakers .speaker_swiper_container .swiper-prev-con img,
  .Home_Speakers .speaker_swiper_container .swiper-next-con img,
  .Home_WorkshopsEvents .speaker_swiper_container .swiper-prev-con img,
  .Home_WorkshopsEvents .speaker_swiper_container .swiper-next-con img {
    filter: invert(1);
    margin: 0;
    height: 60%;
    object-fit: contain;
  }
  .Home_Speakers .speaker_swiper_container .swiper-container .swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-color: #000;
    overflow: hidden;
    z-index: 0;
  }
  .Home_Speakers .speaker_swiper_container .swiper-container .swiper-slide img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    overflow: hidden;
    z-index: 0;
  }
}
@media screen and (max-width: 325px) {
  .Home_Speakers .Home_speakers_card_container .Home_speakers_card {
    margin: 0 10px;
    border-radius: 8px;
  }
  .Home_Speakers .Home_speakers_card_container .Home_speakers_card img {
    width: 120px;
    height: 120px;
    border-radius: 6px;
  }
  .Home_Speakers
    .Home_speakers_card_container
    .Home_speakers_card
    .contentBox
    h3 {
    font-size: 14px;
  }
  .Home_Speakers
    .Home_speakers_card_container
    .Home_speakers_card
    .contentBox
    p {
    font-size: 10px;
  }
  .Home_Speakers a {
    font-size: 12px;
    padding: 6px 24px;
  }
  .Home_Speakers h1 {
    margin: 5px 0;
  }
}
/* Home_Testimonials */
.Home_Testimonials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Home_Testimonials h1 {
  position: relative;
  /* top: 50px;
  left: 50%;
  transform: translateX(-40%); */
  text-align: center;
  font-size: 3em;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 20px;
}
.Home_Testimonials .testimonial_card_container {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: scroll;
  overflow-y: hidden;
}
.Home_Testimonials .testimonial_card_container::-webkit-scrollbar {
  background-color: rgba(0, 0, 0, 0);
  height: 12px;
}
.Home_Testimonials .testimonial_card_container::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 15px;
}
.Home_Testimonials .testimonial_card_container .testimonialWrapper {
  width: fit-content;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}
.Home_Testimonials .testimonial_card_container .testimonialWrapper::before {
  content: "";
  flex: 1;
  width: 100%;
  height: 0px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  border-bottom: 3px solid #fff;
  border-style: dashed;
}
.Home_Testimonials.black
  .testimonial_card_container
  .testimonialWrapper::before {
  border-bottom: 3px solid #0264c7;
  border-style: dashed;
}
.Home_Testimonials .testimonialWrapper .testimonial_card_cover {
  width: 280px;
  margin: 0 20px;
  height: 100%;
  position: relative;
}
.Home_Testimonials
  .testimonialWrapper
  .testimonial_card_cover
  .testimonial_card {
  position: absolute;
  bottom: calc(50% + 80px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: fit-content;
  padding: 10px 15px;
  background-color: rgb(7, 7, 14);
  border-bottom: 4px solid dodgerblue;
}
.Home_Testimonials.black
  .testimonialWrapper
  .testimonial_card_cover
  .testimonial_card {
  background-color: #6ac8f3;
  border-bottom: 4px solid rgb(2, 100, 199);
  color: #000;
}
.Home_Testimonials
  .testimonialWrapper
  .testimonial_card_cover:nth-child(even)
  .testimonial_card {
  flex-direction: column-reverse;
  border-top: 4px solid dodgerblue;
  border-bottom: 0px;
  top: calc(50% + 80px);
}
.Home_Testimonials.black
  .testimonialWrapper
  .testimonial_card_cover:nth-child(even)
  .testimonial_card {
  border-top: 4px solid rgb(2, 100, 199);
}
.Home_Testimonials
  .testimonialWrapper
  .testimonial_card_cover
  .testimonial_card:after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: calc(100% + 4px);
  width: 0;
  height: 80px;
  border-right: 3px dashed #fff;
}
.Home_Testimonials.black
  .testimonialWrapper
  .testimonial_card_cover
  .testimonial_card:after {
  border-right: 3px dashed rgb(2, 100, 199);
}
.Home_Testimonials
  .testimonialWrapper
  .testimonial_card_cover
  .testimonial_card:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: calc(100% + 77px);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #fff;
}
.Home_Testimonials.black
  .testimonialWrapper
  .testimonial_card_cover
  .testimonial_card:before {
  background-color: rgb(2, 100, 199);
}
.Home_Testimonials
  .testimonialWrapper
  .testimonial_card_cover:nth-child(even)
  .testimonial_card:after {
  bottom: calc(100% + 4px);
  top: auto;
}
.Home_Testimonials
  .testimonialWrapper
  .testimonial_card_cover:nth-child(even)
  .testimonial_card:before {
  bottom: calc(100% + 77px);
  top: auto;
}
.Home_Testimonials .testimonialWrapper .testimonial_card p {
  font-size: 13px;
  letter-spacing: 1px;
  word-spacing: 5px;
  display: inline-block;
  height: 0px;
  overflow-y: hidden;
  transition: 0.5s;
}
.Home_Testimonials.black .testimonialWrapper .testimonial_card p {
  font-weight: 600;
}
.Home_Testimonials .testimonialWrapper .testimonial_card p {
  height: 175px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Home_Testimonials .testimonialWrapper .testimonial_card .profile {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
}
.Home_Testimonials .testimonialWrapper .testimonial_card .profile .contentBox {
  width: calc(100% - 65px);
}
.Home_Testimonials
  .testimonialWrapper
  .testimonial_card
  .profile
  .contentBox
  h3 {
  text-align: left;
}
.Home_Testimonials.black
  .testimonialWrapper
  .testimonial_card
  .profile
  .contentBox
  h3 {
  font-weight: 600;
}
.Home_Testimonials
  .testimonialWrapper
  .testimonial_card
  .profile
  .contentBox
  p {
  display: inline;
  line-height: 0;
  word-spacing: normal;
  letter-spacing: normal;
}
.Home_Testimonials .testimonialWrapper .testimonial_card .profile .imgBox {
  display: inline-block;
  height: 50px;
  width: 50px;
  margin-right: 15px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  overflow: hidden;
}
.Home_Testimonials .testimonialWrapper .testimonial_card .profile .imgBox img {
  width: 50px;
  height: 50px;
  object-fit: fill;
}
.Home_Testimonials .testimonial_card_container {
  height: 400px;
  /* border: 1px solid red; */
}
.Home_Testimonials
  .testimonialWrapper
  .testimonial_card_cover
  .testimonial_card {
  bottom: 50px;
}
.Home_Testimonials
  .testimonialWrapper
  .testimonial_card_cover
  .testimonial_card:before {
  top: calc(100% + 25px);
  bottom: auto;
}
.Home_Testimonials
  .testimonialWrapper
  .testimonial_card_cover
  .testimonial_card:after {
  display: none;
}
.Home_Testimonials
  .testimonialWrapper
  .testimonial_card_cover:nth-child(even)
  .testimonial_card {
  top: 25px;
}
.Home_Testimonials
  .testimonialWrapper
  .testimonial_card_cover:nth-child(even)
  .testimonial_card {
  flex-direction: column;
  top: auto;
  bottom: 50px;
  border-top: none;
  border-bottom: 4px solid dodgerblue;
}
.Home_Testimonials.black
  .testimonialWrapper
  .testimonial_card_cover:nth-child(even)
  .testimonial_card {
  border-top: none;
  border-bottom: 4px solid rgb(2, 100, 199);
}
.Home_Testimonials
  .testimonialWrapper
  .testimonial_card_cover:nth-child(even)
  .testimonial_card:after {
  bottom: calc(100% + 4px);
  top: auto;
}
.Home_Testimonials
  .testimonialWrapper
  .testimonial_card_cover:nth-child(even)
  .testimonial_card:before {
  top: calc(100% + 25px);
  bottom: auto;
}
.Home_Testimonials .testimonial_card_container .testimonialWrapper::before {
  position: absolute;
  top: auto;
  bottom: 20px;
  left: 0;
  transform: translateY(0%);
}
@media screen and (max-width: 600px) {
  .Home_Testimonials h1 {
    /* top: calc(calc(100% - 350px) / 2);
    transform: translate(-50%, -100%); */
    font-size: 8vw;
  }
  .Home_Testimonials .testimonial_card_container {
    height: 350px;
    justify-content: flex-start;
    /* border: 1px solid red; */
  }
  .Home_Testimonials .testimonial_card_container::-webkit-scrollbar {
    display: none;
  }
  .Home_Testimonials
    .testimonialWrapper
    .testimonial_card_cover
    .testimonial_card {
    bottom: 50px;
  }
  .Home_Testimonials
    .testimonialWrapper
    .testimonial_card_cover
    .testimonial_card:before {
    top: calc(100% + 25px);
    bottom: auto;
  }
  .Home_Testimonials
    .testimonialWrapper
    .testimonial_card_cover
    .testimonial_card:after {
    display: none;
  }
  .Home_Testimonials
    .testimonialWrapper
    .testimonial_card_cover:nth-child(even)
    .testimonial_card {
    top: 25px;
  }
  .Home_Testimonials
    .testimonialWrapper
    .testimonial_card_cover:nth-child(even)
    .testimonial_card {
    flex-direction: column;
    top: auto;
    bottom: 50px;
    border-top: none;
    border-bottom: 4px solid dodgerblue;
  }
  .Home_Testimonials.black
    .testimonialWrapper
    .testimonial_card_cover:nth-child(even)
    .testimonial_card {
    border-top: none;
    border-bottom: 4px solid rgb(2, 100, 199);
  }
  .Home_Testimonials
    .testimonialWrapper
    .testimonial_card_cover:nth-child(even)
    .testimonial_card:after {
    bottom: calc(100% + 4px);
    top: auto;
  }
  .Home_Testimonials
    .testimonialWrapper
    .testimonial_card_cover:nth-child(even)
    .testimonial_card:before {
    top: calc(100% + 25px);
    bottom: auto;
  }
  .Home_Testimonials .testimonial_card_container .testimonialWrapper::before {
    position: absolute;
    top: auto;
    bottom: 20px;
    left: 0;
    transform: translateY(0%);
  }
  .Home_Testimonials #scrollLeft {
    font-family: "Dancing Script", cursive;
    position: absolute;
    letter-spacing: 1px;
    font-size: 18px;
    bottom: calc(calc(100% - 400px) / 2 - 40px);
    transition: 0.5s;
  }
  .Home_Testimonials .testimonialWrapper .testimonial_card p {
    height: 175px;
    display: flex;
    text-align: justify;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 600px) {
  .Home_landingPage {
    padding: 0 30px;
  }
  .Home_Testimonials {
    padding: 0 30px;
  }
  .Home_Speakers,
  .Home_WorkshopsEvents {
    padding: 0 30px;
    /* padding-bottom: 50px; */
  }
  .Home_Speakers a {
    /* margin-top: 40px; */
  }
  .Home_whoAreWe {
    padding: 0 30px;
  }
  .Home_Testimonials .testimonial_card_container {
    justify-content: flex-start;
  }
  .Footer .bottom .Follow {
    margin: 0;
  }
}
@media screen and (max-width: 340px) {
  .Home section {
    padding: 0 15px;
  }
  .swiperControllers .swiper-prev-con,
  .swiperControllers .swiper-next-con {
    margin: 15px 5px;
  }
  .Home_WorkshopsEvents {
    padding-bottom: 20px;
  }
  @media screen and (min-height: 700px) {
    .Home_whoAreWe #text {
      left: 0px;
      font-size: 15px;
      font-weight: 400;
      text-shadow: 0 0 10px rgb(0 0 0 / 10%);
    }
  }
  @media screen and (max-height: 700px) {
    .swiperControllers {
      margin-bottom: 15px;
    }
    .swiperControllers .swiper-prev-con,
    .swiperControllers .swiper-next-con {
      margin: 0 10px;
    }
  }
}
@media screen and (min-width: 1600px) {
  .Home_landingPage .ContentBox h1 {
    font-size: 5vw !important;
    margin-bottom: 15px;
  }
  .Home_landingPage .ContentBox p {
    font-size: 1.2vw !important;
  }
  .Home_landingPage .ContentBox {
    max-width: 50%;
  }
  .Home_sideNavBar {
    transform: translateY(-50%) scale(1.3);
  }
  .Home_landingPage .imgBox {
    max-width: 40vw;
    max-height: 40vw;
  }
  .Home_landingPage .imgBox img {
    width: 100%;
    object-fit: contain;
  }
  .Home_landingPage .Follow p {
    font-size: 1.1vw !important;
  }
  .Home_landingPage .Follow a {
    font-size: 1.6vw !important;
  }
  .Home_landingPage .Follow span {
    height: 2vw;
    margin: 0 0.8vw;
  }
  .Home_whoAreWe #heading {
    font-size: 3.5vw;
  }
  .Home_whoAreWe #text {
    max-width: 1000px;
    font-size: 1.1vw;
    font-weight: 500;
  }
  .Home_whoAreWe #who_are_we_robo2 {
    width: 300px;
  }
  .Home_whoAreWe #who_are_we_robo1 {
    width: 450px;
  }
  .Home_Speakers h1,
  .Home_WorkshopsEvents h1 {
    font-size: 3.5vw;
  }
  .Home_Testimonials .testimonial_card_container {
    justify-content: center;
  }
}
