.EWHome .EWHome-circle:hover
{
    background-color: #9ab2df;
    color: black;
    border: none;
}
.EWHomeDesp a
{
    color: #9ab2df;
    font-weight: 500;
    font-size: 1.5vw;
}

@media screen and (max-width: 500px)
{
    .EWHomeDesp a
    {
        font-size: 4vw;
    }
}